/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ahhh
leave
me
alone */



body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.leftside {
    background-color: tomato;
    width: 40%;
    height: 100%;
    position: relative;
    /* needed in order to make bgimg absolute */
    /* A page element with relative positioning gives you the control to absolutely position children elements inside of it. */
}

.bgimg {
    width: 100%;
    height: 100vh;
    position: absolute;
    /* removed from document flow, other elements act as if its not there */
}

.leftbar {
    position: relative;
    /* able to adjust normal positioning */
    top: 22vh;
    background-color: rgba(58, 56, 69, 0.5);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoimg {
    width: 5.2vw;
    height: auto;
}

.logotext {
    font-family: Libre Baskerville, Open Sans;
    font-size: 2.75rem;
    letter-spacing: 0.5mm;
    margin: 3.1vh 1.7vw; 
    color: aliceblue;
}





.rightside {
    background-color: green;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.righttop {
    width: 100%;
    height: 100%;
    background-color: #DFDFDE;
    height: 35%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
}

.righttoptext {
    max-width: 50ch;
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 3.125vw;
    line-height: 1.25;
}

.rtt2 {
    font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 3.1vw;
    margin-top: 3.8vh;
}

.rightmid {
    width: 100%;
    height: 100%;
    background-color: #F7F5F2;
    height: 35%;
    display: grid;
    align-items: center;
}

.form {
    display: grid;
    padding: 3.8vh 2.8vw;
    grid-template-columns: repeat(2, 22.2vw);
    /* grid-template-rows: repeat(4, 2.5vw); */
    grid-gap: 12px;
    /* min-height: 251px; */
}

.formtext {
    grid-column: span 2;
    font-weight: 500;
    font-size: 1.25rem;
    font-family: Roboto;
    padding-bottom: 1.9vh;
}

label {
    color: #7F7C82;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    margin-bottom: 0.44vh;
    display: block;
    font-weight: 550;
}

input {
    width: 15.3vw;
    height: 2.6vh;
    border-radius: 5px;
    border: gainsboro 1px solid;
    font-size: 0.875rem;
    padding: 0.25vh 0.35vw;
}


input:hover {
    border: solid #5584AC 1px;
}

input:focus {
    border: solid #22577E 1px;
}

.rightbottom {
    width: 100%;
    height: 100%;
    background-color: #DFDFDE;
    height: 30%;
    display: flex;
    flex-direction: column;
}

.accbtn{
    font-family: Roboto;
    border-radius: 5px;
    border: 0 solid white;
    color: white;
    font-weight: 450;
    font-size: 0.9375rem;
    background-color: #5584AC;
    padding: 1.9vh 1vw;
    /* margin: 0 2.5vh 0 0;
    margin-top: 8vh; */
    z-index: 1;
    width: 10.4vw;

    position: absolute;
    bottom: 17vh;
}

.alrtext{
    font-family: Roboto;
    font-weight: 450;
    font-size: 0.9375rem;
    margin: 0 0 0 2.8vw;
    color: #5584AC;
}

.bottomtext{
    position: absolute;
    bottom: 12vh;
    /* margin: 12vh 0; */
}

a{
    font-family: Roboto;
    color: #22577E;
    font-weight: 750;
    font-size: 0.875rem;
    text-decoration: none;
}

.italics{
    font-style: italic;
}

#error{
    color: Red;
    font-family: Roboto;
    font-style: italic;
    font-size: 0.9375rem;
}